body {
    font-family: "OpenSans-Light", sans-serif;
    font-weight: 300;
}

.title {
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: 700;
}

a {
    font-family: "Raleway-Bold", sans-serif;
    font-weight: 700;
}

.header__top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
}

.header__top-inner {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    background-image: url("../images/header-bg.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header__content-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.header__title {
    margin-top: auto;
    margin-bottom: 20px;
    padding-top: 120px;
    font-size: 72px;
    color: #FFFFFF;
}

.header__subtitle {
    margin-bottom: auto;
    font-size: 16px;
    letter-spacing: 3px;
    color: #FCBB08;
}

.header__icon {
    margin-bottom: 60px;
}

.menu a.active {
    border-bottom: 1px solid #FCBB08;
}

.menu__btn {
    display: none;
}

.menu__list {
    display: flex;
}

.menu__list-item:not(:last-child) {
    margin-right: 32px;
}

.menu__list-link {
    padding: 0 9px 9px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    transition: border-bottom 0.5s ease-out;
}

.menu__list-link:hover {
    border-bottom: 1px solid #FCBB08;
}

@font-face {
    font-family: "Montserrat-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
    font-family: "Raleway-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Raleway-Bold"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
    font-family: "OpenSans-Light";
  font-weight: 300;
  font-style: normal;
  src: local("OpenSans-Light"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
    font-family: "Merriweather-LightItalic";
  font-weight: 300;
  font-style: normal;
  src: local("Merriweather-LightItalic"), url("../fonts/Merriweather-LightItalic.woff2") format("woff2"), url("../fonts/Merriweather-LightItalic.woff") format("woff");
  font-display: swap;
}

body {
    font-size: 14px;
    line-height: 1.5;
    color: #373A39;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

a {
    color: #373A39;
}

button {
    border: none;
    cursor: pointer;
}

.title {
    position: relative;
    align-self: flex-start;
    margin-bottom: 50px;
    padding-bottom: 18px;
    color: #242121;
    font-size: 60px;
    line-height: 1.5;
}

.title::after {
    content: " ";
    position: absolute;
    width: 60px;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #FCBB08;
}

/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
}