$default: #373A39;
$default-light: #333333;
$accent: #FCBB08;


%os-light {
  font-family: "OpenSans-Light", sans-serif;
  font-weight: 300;
}

%m-bold {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}

%r-bold {
  font-family: "Raleway-Bold", sans-serif;
  font-weight: 700;
}

%mw-light {
  font-family: "Merriweather-LightItalic", sans-serif;
  font-weight: 300;
}


.header{
  &__top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
  }
  &__top-inner {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    background-image: url('../images/header-bg.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  &__content-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  &__title {
    margin-top: auto;
    margin-bottom: 20px;
    padding-top: 120px;
    font-size: 72px;
    color: #FFFFFF;
  }
  &__subtitle {
    margin-bottom: auto;
    font-size: 16px;
    letter-spacing: 3px;
    color: $accent;
  }
  &__icon {
    margin-bottom: 60px;
  }
}


.menu{
  a.active {
    border-bottom: 1px solid $accent;
  }
  &__btn {
    display: none;
  }
  &__list {
    display: flex;
  }
  &__list-item:not(:last-child) {
    margin-right: 32px;
  }
  &__list-link {
    padding: 0 9px 9px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    transition: border-bottom .5s ease-out;
    &:hover {
      border-bottom: 1px solid $accent;
    }
  }
}


.about {
  padding: 150px 0;
  background-color: #F6F8FA;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__text p {
    margin-bottom: 16px;
    max-width: 770px;
  }
}


.expertise {
  padding: 140px 0;
  &__title {
    margin-bottom: 90px;
  }
  &__inner {
    margin-bottom: 110px;
    display: flex;
  }
  &__info {
    margin-right: 30px;
    margin-top: 10px;
    width: 370px;
    flex: none;
  }
  &__info-item {
    position: relative;
    padding: 2px 0 28px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1D1D1D;
    border-top: 2px solid #1D1D1D;
  }
  &__info-item {
    span {
      position: absolute;
      display: block;
      margin-right: 7px;
      right: 0;
      top: 0;
    }
    span::before {
      content: "";
      position: absolute;
      height: 2px;
      background-color: #f0f0f0;
      right: -7px;
      top: -2px;
      width: 100%;
    }
  }
  &__text p {
    margin-bottom: 25px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    padding-left: 85px;
    width: 370px;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
    }
  }
  &__item--design::before {
    background-image: url("../images/icons/design-logo.svg");
  }
  &__item--dev::before {
    background-image: url("../images/icons/development-logo.svg");
  }
  &__item--marketing::before {
    background-image: url("../images/icons/marketing-logo.svg");
  }
  &__item-title {
    margin-bottom: 14px;
    letter-spacing: 4px;
    color: $default-light;
    text-transform: uppercase;
  }
  &__item-text {
    color: #777777;
  }
}


.magic {
  background-color: #ffffff;
  background-image: url('../images/magic-bg.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: left 70%;
  &__inner {
    padding: 100px 0 190px;
    margin-left: auto;
    max-width: 470px;
  }
  &__title {
    margin-bottom: 68px;
  }
  &__text p {
    margin-bottom: 25px;
  }
}


.portfolio {
  padding: 140px 0 165px;
  &__top {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__filter-btn {
    margin-right: 65px;
  }
  &__btn {
    padding: 0 5px 5px;
    font-size: 12px;
    letter-spacing: 2px;
    color: $default-light;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    outline: none;
  }
  &__btn:not(:last-child) {
    margin-right: 25px;
  }
  &__content {
    margin-bottom: 72px;
    column-count: 4;
    column-gap: 22px;
  }
  &__item {
    margin-bottom: 24px;
    position: relative;
    &:hover {
      .portfolio__item-link {
        opacity: 1;
      }
    }
    img {
      width: 100%;
    }
  }
  &__item-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %os-light;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #666666;
    border: 12px solid #666666;
    opacity: 0;
    transition: all .3s ease-out;
  }
  &__add {
    margin-bottom: 130px;
    padding: 42px 15px;
    display: block;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background: #f2f2f2;
  }
  &__video {
    margin-bottom: 165px;
    background-image: url("../images/video.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 325px;
  }
  &__video-link{
    height: 100px;
    width: 100px;
  }
  &__numbers {
    display: flex;
    justify-content: space-around;
  }
  &__numbers-item {
    margin-bottom: 10px;
    text-align: center;
    @extend %m-bold;
    font-size: 60px;
    color: #212121;
    span {
      font-size: 14px;
      display: block;
      color: $default;
    }
  }
  .mixitup-control-active {
    border-bottom: 1px solid #FCBB08;
  }
}


.blockquote {
  max-width: 650px;
  margin: 0 auto 148px;
  text-align: center;
  @extend %mw-light;
  font-size: 18px;
  color: #212121;
  &__author {
    display: block;
    padding-top: 50px;
    font-size: 14px;
    color: #9E9E9E;
  }
}


.slider {
  background-color: #f8f6fa;
  padding: 115px 0;
  &__blog-item {
    padding: 190px 0;
  }
  &__blog-item-title {
    display: inline-block;
    margin-bottom: 10px;
    max-width: 675px;
    font-size: 36px;
    color: #212121;
  }
  &__blog-item-descr {
    max-width: 585px;
  }
  .slick-dots {
    display: flex;
  }
  .slick-dots li+li {
    margin-left: 13px;
  }
  .slick-dots button {
    padding: 0;
    width: 6px;
    height: 6px;
    font-size: 0;
    border-radius: 50%;
    border: none;
    background-color: #242121;
    opacity: 0.4;
  }
  .slick-dots .slick-active button {
    width: 10px;
    height: 10px;
    opacity: 1;
    transform: translateY(-2px);
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    padding: 0;
    top: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(-150%);
  }
  .slick-prev {
    left: -95px
  }
  .slick-next {
    right: -95px;
  }
}



// .footer {

// }